.App {
  background: gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100%;

}

.buttons-player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}

.button {
  border: 1px solid black;
  border-radius: 8px;
  padding :  25px 0;
  min-width: 75px;
  text-align: center;
}

.player{
 cursor: pointer;
}

.player:hover , .brightness {
filter: brightness(1.5);
}

.button-shi {
  background: rgb(125, 35, 53);
}

.button-fu {
  background: rgb(69, 101, 161);
}

.button-mi {
  background: forestgreen;
}

.score {}